<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criar um Pendamento</h1>
    <form action="/toughts/add" method="post">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Digite seu pensamento...">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>